@model IEnumerable<MarketPricingSystem.Models.Roles>
@{
    ViewBag.Title = "Allsupermarkets";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">All Roles</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Users/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div  style="margin-bottom:10px">
         
            <a href="/Roles/Createrole" class="btn btn-success" role="button">Create New Role </a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
              All Roles
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            
                       
                            <th></th>
                          

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Role Name</th>
                          


                            <th></th>


                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var market in Model)
                        {

                            <tr>
                                <td>@market.RoleName</td>
                            

                                <td>
                                  

                                    <a href="/Roles/Rolepermissions/@market.RoleId" class="btn btn-primary" role="button">permissions</a>

                                    


                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>