@model  IEnumerable<MarketPricingSystem.Models.Users>
@{
    ViewBag.Title = "Allsupermarkets";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">All Roles</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Users/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div  style="margin-bottom:10px">
         
            <a href="/Others/Createuser" class="btn btn-success" role="button">Create New User </a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
              All Users
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>phone number</th>
                            <th>Gmail</th>
                            <th>Password</th>
                            
                       
                            <th></th>
                          

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>phone number</th>
                            <th>Gmail</th>
                            <th>Password</th>


                            <th></th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var user in Model)
                        {

                            <tr>
                                <td>@user.Name</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Gmail</td>
                                <td>@user.Password</td>
                            

                                <td>

                                    <a href="/Others/Rolepermissions" class="btn btn-primary" role="button">Edit</a>


                                    <a href="/Others/Userroles/@user.UserId" class="btn btn-success" role="button">Roles</a>

                                    <a href="/Others/Deleteuser/@user.UserId" class="btn btn-danger" role="button">Delete</a>



                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>