@model MarketPricingSystem.ViewModel.productvalue


@{
    ViewBag.Title = "GetCheapestproduct";
}




<div style="margin-top:100px">

    <h1> @Model.supermarketname </h1>
    <h1> @Model.productname </h1>
    <h1>@Model.productprice <span>$</span></h1>

</div>