@model IEnumerable< MarketPricingSystem.ViewModel.productvalue>


@{
    ViewBag.Title = "GetCheapestproduct";
}




<div style="margin-top:100px">

    @foreach(var cheapproduct in Model)
            {
               <div style="display:flex">

                   <div>

                       <h1> @cheapproduct.supermarketname </h1>
                       <h1> @cheapproduct.productname </h1>
                       <h1>@cheapproduct.productprice <span>$</span></h1>


                   </div>


               </div>



            }


  

</div>