
@{
    ViewBag.Title = "Signin";
}

<center class="center"
        style="margin-top: 130px; display: flex; flex-wrap: wrap-reverse">


    <div class="right">
        <div>
            <h1>Log in</h1>
        </div>
        <div style="padding: 30px">
            <i class="fa-solid fa-user"></i><input type="email"   name="" id="input"  placeholder="Gmail"  style="  margin-left: 10px;  border: solid 2px black; border-radius: 4px; padding: 5px; " />
        </div>
        <div>
            <i class="fa-solid fa-lock"></i><input type="password" name=""   id=""  placeholder="Password"    style=" margin-left: 10px; border: solid 2px black; border-radius: 4px; padding: 5px; " />
        </div>

        <div class="btn" aria-placeholder="login" id="login">login</div>

       

    </div>
</center>